<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/Logs/nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="TodayLogPath" value="${basedir}/Logs/${shortdate:universalTime=true}" />
  <variable name="MethodName" value="${callsite:className=False:includeNamespace=False:methodName=true:skipFrames=1}" />
  <variable name="UserName" value="${whenEmpty:whenEmpty=${aspnet-user-identity}:inner=}" />
  <variable name="ThreadIdOrName" value="${whenEmpty:whenEmpty=${threadid}:inner=${threadname}}" />
  <variable name="Message" value="${message:withException=true}" />
  <variable name="Date" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff}" />
  <variable name="DefaultLayout" value="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${logger} ${MethodName} - ${Message}" />

  <targets>
    <target xsi:type="File" 
            name="aspnetcore" 
            fileName="${TodayLogPath}/aspnetcore.log"
            layout="${DefaultLayout}" 
    />
    <target xsi:type="File" 
            name="mediacloud" 
            fileName="${TodayLogPath}/mediacloud.log"
            layout="${DefaultLayout}" 
    />
    <target xsi:type="File"
            name="taskscheduler"
            fileName="${TodayLogPath}/taskscheduler.log"
            layout="${DefaultLayout}" 
    />
    <target xsi:type="File"
            name="autotagservice"
            fileName="${TodayLogPath}/autotagservice.log"
            layout="${DefaultLayout}" 
    />
    <target xsi:type="Console" 
            name="lifetimeConsole" 
            layout="${MicrosoftConsoleLayout}" 
    />
  </targets>

  <rules>
    <logger name="Microsoft.Hosting.Lifetime" minLevel="Info" writeTo="lifetimeConsole, aspnetcore" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" minLevel="Warn" writeTo="lifetimeConsole, aspnetcore" final="true" />
    <logger name="Microsoft.*" minLevel="Warn" writeTo="lifetimeConsole, aspnetcore" final="true" />
    <logger name="Microsoft.*" final="true" />
    <logger name="System.Net.Http.*" minLevel="Warn" writeTo="lifetimeConsole, aspnetcore" final="true" />
    <logger name="PageModel" minLevel="Debug" writeTo="mediacloud" final="true" />
    <logger name="Scheduler" minLevel="Info" writeTo="taskscheduler" final="true" />
    <logger name="DataService" minLevel="Info" writeTo="mediacloud" final="true" />
    <logger name="AutotagService" minLevel="Debug" writeTo="autotagservice" final="true" />
    <logger name="StatisticProvider" minLevel="Info" writeTo="mediacloud" final="true" />
    <logger name="Users.*" minLevel="Info" writeTo="mediacloud" final="true" />
    
    <logger name="*" minLevel="Error" writeTo="mediacloud" />
    <logger name="*" minLevel="Info" writeTo="mediacloud" />
  </rules>
</nlog>