@page
@model ChangelogModel
@{
    ViewData["Title"] = "Version changelog";
}

<h1 class="pt-3 text-white">Version changelog</h1>

<hr />

<div class="container">
    <div class="row justify-content-left">
        <div class="col-lg-8 col-md-10 col-12 bg-white rounded">
                    
            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 1.1.0</span> - 14th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added "Random" <b>Medias/Index</b> ordering</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>Medias/Collection</b> view for Collection medias</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Reworker <b>Medias/Detail</b> for single media view</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Tags/Index</b> MediasCount sorting</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Medias/Detail</b> pages return url</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Medias/Index</b> filter button returnUrl</li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 1.0.1</span> - 8th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Medias/Edit</b> ReturnUrls</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Medias/Index</b> missing tags in filter queryes</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Medias/Upload</b> unnecessary require validation for tags textarea</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Tags/Detail</b> tags links</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed overlapping <b>Footer</b> on pages</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed mobile layout and content wrap</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Set minimal layout width to 450px</li>
            </ul>
      

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 1.0.0</span> - 4th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Initial Released</li>
            </ul>    

        </div><!--end col-->
    </div><!--end row-->
</div>
