.main-frame {
    background: #000000;
}

.navbar {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(77, 37, 116, 1), rgba(0, 0, 0, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(77, 37, 116, 1), rgb(0 0 0));
}

.footer {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(77, 37, 116, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgb(0 0 0), rgba(77, 37, 116, 1));
}

.form-control {
    background: #4e4e4e;
    color: white;
}

.form-control:focus {
    background: #d4d4d4;
}

.form-control[readonly] {
    background: #454545;
    color: white;
}

.page-link {
    background: #4e4e4e;
    color: #7eb2ff;
}

.table {
    background: #4e4e4e;
    color: white;
}

.card {
    background: #4e4e4e;
}

.form-select {
    background: #4e4e4e;
    color: white;
}

.bg-warning {
    background-color: rgb(207 179 97) !important;
}

.modal-content {
    background: #4e4e4e;
    color: white;
}

.gallery-image {
    background: #4e4e4e;
}

.gallery-image:hover {
    background: #4e4e4e;
}

.list-group-item {
    background-color: #4e4e4e;
    color: white;
}

.list-group-item-success {
    background: #4a8f70;
}

.list-group-item-danger {
    background: #c24e4e;
    color: white;
}

.list-group-item-secondary {
    background: #4e4e4e;
    color: white;
}

.whiteback-bar {
    background: #4e4e4e;
    color: white;
}

.text-muted {
    color: #bbbbbb !important;
}

.card {
    color: white;
}

.btn-info {
    background-color: #3881e6;
    color: white;
}

.picture-controls-container {
    background: #4e4e4e;
}