@using System.Reflection
@using MediaCloud.WebApp.Services.ActorProvider;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=yes" />
    <title>@ViewData["Title"] - MediaCloud v@(Assembly.GetEntryAssembly()?.GetName().Version?.ToString(3))</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body  bg-secondary class="mb-0" style="min-width: 500px">
    @inject IActorProvider actorProvider
    @{
        var actor = actorProvider.GetCurrent();
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
            <div class="container-fluid ps-5 pe-5">
                <img src="/favicon.ico" style="max-width: 2rem">
                <a class="ms-3 navbar-brand text-white" asp-area="" asp-page="/Index">MediaCloud v@(Assembly.GetEntryAssembly()?.GetName().Version?.ToString(3))</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Medias">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Tags">Tags</a>
                        </li>
                            @if (actor != null && actor.IsAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/Actors">Actors</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Statistic">Statistic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Changelog">Changelog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                    <div class="me-3 collapse navbar-collapse collapse d-sm-inline-flex justify-content-between text-right" id="myNavbar">
                        @if (actor != null)
                        {
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/Account">Hello, @actor.Name!</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-danger navbar-right" href="/Account/Logout" method="post" id="logoutForm">Logout</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/Account/Login">Sign In</a>
                                </li>
                            </ul>
                        }
                    </div>
            </div>
        </nav>
    </header>
        <button type="button"
                class="btn btn-lg"
                id="btn-back-to-top"
                style="z-index: 1000; max-width: 5rem">
            <img style="width:100%" src="~/img/up.png">
        </button>
    }
    <div class="gradient-main" style="min-height: 140vh">
         <div class="container-fluid mb-4 ps-5 pe-5">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="footer text-white" style="min-width: 500px">
            <div class="container mb-2 mt-2">
                &copy; 2022 - MediaCloud - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    function backToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
    
</script>