@if (Model.ListBuilder.Pagination.TotalCount > Model.ListBuilder.Pagination.Count)
{
    <nav aria-label="...">
      <ul class="pagination d-flex justify-content-center flex-wrap">
        <li class="page-item">
          <a class="page-link" href="?count=@(Model.ListBuilder.Pagination.Count)&offset=0&sort=@(Model.ListBuilder.Sorting.PropertyName)&filter=@(Model.ListBuilder.Filtering.Filter)">First</a>
        </li>
        @for (int i = Model.ListBuilder.Pagination.Offset; i > 0; i -= Model.ListBuilder.Pagination.Count)
            {
                <li class="page-item">
                    <a class="page-link" 
                        href="?count=@(Model.ListBuilder.Pagination.Count)&offset=@((Model.ListBuilder.Pagination.Offset - i))&sort=@(Model.ListBuilder.Sorting.PropertyName)&filter=@(Model.ListBuilder.Filtering.Filter)">
                        @((Model.ListBuilder.Pagination.Offset - i + Model.ListBuilder.Pagination.Count) / Model.ListBuilder.Pagination.Count)
                    </a>
                </li>
            }
            <li class="page-item active z-1">
                <span class="page-link" style="z-index: 0">@((Model.ListBuilder.Pagination.Offset + Model.ListBuilder.Pagination.Count) / Model.ListBuilder.Pagination.Count)
                        <span class="sr-only"></span>
                </span>
            </li>
            @for (int i = Model.ListBuilder.Pagination.Offset + Model.ListBuilder.Pagination.Count; i <= Model.ListBuilder.Pagination.TotalCount; i += Model.ListBuilder.Pagination.Count)
            {
                <li class="page-item"><a class="page-link" href="?count=@(Model.ListBuilder.Pagination.Count)&offset=@(i)&sort=@(Model.ListBuilder.Sorting.PropertyName)&filter=@(Model.ListBuilder.Filtering.Filter)">@((i + Model.ListBuilder.Pagination.Count) / Model.ListBuilder.Pagination.Count)</a></li>
            }
        <li class="page-item">
          <a class="page-link" href="?count=@(Model.ListBuilder.Pagination.Count)&offset=@(Model.ListBuilder.Pagination.TotalCount / Model.ListBuilder.Pagination.Count * Model.ListBuilder.Pagination.Count)&sort=@(Model.ListBuilder.Sorting.PropertyName)&filter=@(Model.ListBuilder.Filtering.Filter)">Last</a>
        </li>
      </ul>
</nav>
}