@page
@model ChangeLogModel
@{
    ViewData["Title"] = "Version changelog";
}

<div class="page-container">
    <h1 class="pt-3 text-white">Version changelog</h1>

    <hr />

    <div class="row justify-content-left">
        <div class="col-lg-8 col-md-10 col-12 card rounded mb-3">

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 2.2.2 </span> - 20th Jun, 2025</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added individual user AI Model selection for autotagging</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added MCut threshold toggle for autotagging confidence</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added multiple tag editing for previews <b>/Collection</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>/Tag</b> name validation</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added request caching and text compression</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Changed tags overlay in <b>/Collection</b> and <b>/Gallery/Detail</b> </li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Minor UI improvements</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed user cache cleanup</li>
            </ul>
            
            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 2.2.1 </span> - 17th Jun, 2025</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Updated blur effect in <b>/Gallery</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added text file content editing in <b>/Detail</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed image rating layout in <b>/Detail</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed content preloading when file is not an image</li>
            </ul>
            
            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 2.2.0 </span> - 12th May, 2025</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added NSFW rating for <b>Previews</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>/Gallery</b> filtering by NSFW rating</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Upgraded SixLabours.ImageSharp from <b>3.1.5</b> to <b>3.1.8</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Upgraded Bootstrap from <b>5.3.3</b> to <b>5.3.5</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved dark theme layout</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Minor layout fixes</li>
            </ul>
            
            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 2.1.0 </span> - 23th Mar, 2025</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Add dark theme</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added new user settings</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Minor fixes in page layouts</li>
            </ul>
            
            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 2.0.4 </span> - 08th Mar, 2025</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added autotagging ai model selection and confidence level</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>/Galley</b> column count user setting</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Updated user settings layout</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed user settings saving</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved shortcuts behaviour in gallery <b>/Gallery</b></li>
            </ul>
            
            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 2.0.3 </span> - 27th Feb, 2025</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>File size check now initiating before uploading</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Return to previous pages now updating page content</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added Humanizer nuget</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved shortcuts behaviour in gallery <b>/Gallery</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed high memory usage after uploading files when tasks history not empty</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed miscalculations for pre-upload file size check</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>/Gallery</b> items inconsistent onClick behaviour</li>
            </ul>
            
            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 2.0.2 </span> - 14th Dec, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>/Tasks</b> view for Admin for tasks execution monitoring</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Removed returnUrl parameters from request urls</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added Humanizer nuget</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added autotagging feature to <b>/Upload</b> parameters</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added feature to prevent image compression to <b>/Upload</b> parameters</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added user and statistic snapshots memory caching</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Optimized random ordering in <b>/Gallery</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed high memory usage by tag linking</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed high memory usage by gallery randomizing</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed ordering race condition in <b>/Collection</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed tag searching, if more than one preview in collection has same tag</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed app crash and race condition when several workers take same task to run</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed title preview removing in collection</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Autotagging in background now displays for collections and previews when exists a task in queue but not started yet</li>
            </ul>
            
            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 2.0.1 </span> - 31th Oct, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>New icons for lists sorting</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added per user space limits for content uploading</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added account locking feature to prevent bruteforce attacks</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added tag server side alias caching</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added tag server side alias caching</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed autotagging status when several tasks in process. Now it's updates only when other tasks completed </li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed tags removing when autotagging predict empty tag collection</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Increased autotagging timeout to prevent long running task to fail</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed image rotate in <b>/Detail</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed autotagging task stuck when service doesn't respond</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed user cache cleanup on logout</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed preview switching while typing in tag input in Details</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 2.0.0 </span> - 04th Sep, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Implemented file uploading with any extension support</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Add logging to JoyTag AI server</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Upgraded SixLabors.ImageSharp from <b>3.1.4</b> to <b>3.1.5</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved page layouts for mobile devices</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.6.3 </span> - 21th Jul, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Upgraded <b>NET</b>. from <b>6.0</b> to <b>8.0</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Upgraded <b>Npgsql.EntityFrameworkCore.PostgreSQL</b> from <b>6.0.7</b> to <b>8.0.4</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Upgraded <b>bootstrap</b> from <b>5.2.1</b> to <b>5.3.3</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>More Other packages upgraded to upstream versions</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.6.2 </span> - 13th Jul, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added new animations for gallery cards</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Changed back buttons logic to use native browser history</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improvements in autotagging logger format</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed slow <b>/Statistic</b> loading</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed collection autotagging progress</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed personal account settings</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed statistic recalculation task waiting</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.6.1 </span> - 12th Jun, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i><b>/Tag</b> alias not required parameter anymore</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>/Tag</b> alias autocompletion</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 1.6.0 </span> - 12th Jun, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added AI <b>/Medias</b> and <b>/Collection</b> autotagging with JoyTag AI model</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added new account personal settings page <b>/Account/Settings</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Updated <b>SixLabour.ImageSharp</b> lib to <b>3.1.4</b></li>
                 <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Optimized autoloading speed for first page</li>
                 <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Various layout fixes for narrow displays</li>
                 <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>A lot of other fixes</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.5.1 </span> - 8th Apr, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed exception handling when empty password provided for <b>/Account/Login</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Removed unused config settings in <b>/Account/Settings</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Various fixes and improvements</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 1.5.0 </span> - 07th Apr, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i><b>/Statistic</b> dashboards now showing personal statistics</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added personal account settings</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>New homepage design</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added recalculation option to <b>/Statistic</b> with modal window of recalculation task status</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Massive code cleanup and refactor</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved overall page loading speed by 10-40%</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved <b>Tag</b> and <b>Media</b> saving performance</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>New universal gallery layout</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Implemented multiple actor session caching</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>Media</b> rotating option</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed page layouts for small screens</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed returnUrl problem for <b>/Collection</b> (When go to <b>Medias</b>-><b>Collection</b>-><b>Edit</b> and back)</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved logging for services</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Minor fixes and local improvements</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.4.5 </span> - 28th Mar, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Implemented <b>PageModel</b> debug logging</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Implemented <b>DateService</b> init debug logging</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Collection</b> removing</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.4.4 </span> - 04th Mar, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Minor improvements in <b>Statistic</b> dashboards</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Implemented auth cookie expiration</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>CookieExpireTime</b> and <b>UploaderWorkersCount</b> settings to <b>appsettings.json</b></li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.4.3 </span> - 03th Mar, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Implemented <b>NLog</b> for application logging</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Code cleanup and removed unused extensions</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.4.2 </span> - 02th Mar, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved content processing performance after uploading by 30-50%</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved <b>Collection</b> removing performance by 20-40%</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Switched preview processing algorithm from <b>Bicubic</b> to <b>Lanczos3</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Collection</b> upload counter in <b>Statistic</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Code cleanup and small improvements</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.4.1 </span> - 01th Mar, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved content saving performance after uploading by 80%</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Tag</b> editing</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed repeating content upload</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 1.4.0 </span> - 13th Jan, 2024</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Switched from <b>SQLite 3</b> database to <b>PostgreSQL</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved overall app performance by 10-40%</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added new favicon</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.3.5 </span> - 21th Dec, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added collection info to <b>/Collection</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed tag previews count saving</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.3.4 </span> - 19th Dec, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Various fixes for UI</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.3.3 </span> - 09th Oct, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Add autoloading toggle in <b>/Gallery</b> </li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.3.2 </span> - 08th Oct, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixes and improvements in tag autocompletion</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.3.1 </span> - 06th Oct, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added autocompletion in tag filter input for <b>/Gallery/Collection</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Minor UI changes in <b>/Gallery/Collection</b></li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 1.3.0 </span> - 05th Oct, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added autocompletion in tag filter input for <b>/Gallery</b></li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 1.2.3 </span> - 02th Aug, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Switched graphics library to cross-platform <b>ImageSharp</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Switched to self-made file name comparator</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.2.2 </span> - 10th Mar, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added show similar function in <b>/Details</b> and <b>/Collection</b></li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.2.1 </span> - 11th Mar, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Improved performance for statistic recalculation</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Statistic recalculation now skip 'empty' days</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixes and minor improvements in statistic layout for <b>/Statistic</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Statistic service fixes and performance improvements</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 1.2.0 </span> - 10th Mar, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added statistic service with every day users activity tracking</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added statistic layout for <b>/Statistic</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added activity factor tracking</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Small fixes</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.1.6 </span> - 28th Feb, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added go to top of layout button</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed mobile layout width and height</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed tags duplication</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.1.5 </span> - 05th Feb, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Window layout now more wide</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.1.4 </span> - 04th Feb, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added prev/next buttons in <b>/Details</b> when other collection medias exist</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.1.3 </span> - 22th Jan, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Change onclick event to onauxclick</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.1.2 </span> - 16th Jan, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed collection reordering</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Switched sorting library to  <b>https://github.com/lukasoppermann/html5sortable (0.13.3)</b></li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Small fixes and improvements</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.1.1 </span> - 14th Jan, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed broken links for dynamic loading of previews</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed dynamic loading for <b>/Medias/Collection</b> through https</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed tag editing for <b>/Medias/Collection</b></li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 1.1.0 </span> - 13th Jan, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Bring dynamic loading of previews in <b>/Medias/Index</b> and <b>/Medias/Collection</b></li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.0.3 </span> - 12th Jan, 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed existing current actor when doesn't logged in</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Enabled response compression</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.0.2 </span> - 22th Dec, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed Current Actor context</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 1.0.1 </span> - 15th Dec, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Small fixes and speed improvement</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 1.0.0 </span> - 3th Dec, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>First public release</li>
               <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added more universal tag types</li>
               <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Reworked <b>/Medias/Collection</b> page</li>
               <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Removed <b>/Medias/CollectionReorder</b> page due to transfer that functional to <b>/Medias/Collection</b></li>
               <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Security improvements</li>
           </ul> 
            
            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 0.7.0 </span> - 24th Nov, 2022</h5>
            <ul class="list-unstyled mt-3">
               <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added multiple account support</li>
               <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>/Actors</b> for admin</li>
               <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added logout function</li>
               <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added joining in function by invite code</li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 0.6.0 </span> - 18th Nov, 2022</h5>
            <ul class="list-unstyled mt-3">
               <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added Authorization</li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 0.5.0 </span> - 14th Nov, 2022</h5>
            <ul class="list-unstyled mt-3">
               <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added negative filters support for <b>Medias</b> with '!' sign</li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 0.4.0 </span> - 1th Nov, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added new uploader with queue and status api</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added uploading status to <b>Medias/Upload</b></li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 0.3.3 </span> - 22th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added related medias button to (<b>Tags/Detail</b> and <b>Tags</b>)</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Some minor performance improvements</li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 0.3.2 </span> - 21th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Increased lists loading speed (<b>Medias</b> and <b>Tags</b>) by 20-50%</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Implemented entity caching</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed some layouts issues</li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 0.3.1 </span> - 20th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed drag-and-drop when placeholder not hides</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Medias/Collection</b> image auto sizing and effects</li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 0.3.0 </span> - 20th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Implemented drag-and-drop collection reorder</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed disappearing tags in collection after reordering</li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 0.2.1 </span> - 19th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Increased <b>Medias/Index</b> loading speed by 10-55%</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Some fixes and improvements in layouts</li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 0.2.0 </span> - 16th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Completely reworked collection storing</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Significantly improved speed of collection loading</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>Medias/Collection</b> view</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>Medias/CollectionReorder</b> page for reordering collection</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Updated Tag types</li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 0.1.0 </span> - 14th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>Medias/Index</b> "Random" ordering</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Added <b>Medias/Collection</b> view for Collection medias</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Reworked <b>Medias/Detail</b> for single media view</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Tags/Index</b> MediasCount sorting</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Medias/Detail</b> pages return url</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Medias/Index</b> filter button returnUrl</li>
            </ul> 

            <h5 class="mt-4"> <span class="p-2 bg-info shadow rounded text-white"> Version 0.0.2 </span> - 8th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Medias/Edit</b> ReturnUrls</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Medias/Index</b> missing tags in filter queries</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Medias/Upload</b> unnecessary require validation for tags textarea</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed <b>Tags/Detail</b> tags links</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed overlapping <b>Footer</b> on pages</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Fixed mobile layout and content wrap</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Set minimal layout width to 450px</li>
            </ul>
      

            <h5 class="mt-4"> <span class="p-2 bg-success shadow rounded text-white"> Version 0.0.1 </span> - 4th Oct, 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Initial Dev-release</li>
            </ul>    

        </div>
    </div>
</div>
