@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="background-image text-center">
    <img src="~/img/homepage.png" class="w-75" style="padding-top: 4rem; min-width: 60rem"/>
</div>
