@model MediaCloud.WebApp._GalleryPageModel
@{
}


@for(int i = 0; i < Model.Previews.Count; i += 1)
{
    @if (Model.Previews[i].Collection != null)
    {
        <div class="gallery-item-container col-sm">
            <a draggable="false" href="/Gallery/Collection?id=@(Model.Previews[i].Collection?.Id)">
                <div class="shadow-1-strong gallery-item">
                    <div class="bg-success rounded-circle gallery-item-bubble">
                        @Model.Previews[i].Collection?.Count
                    </div>
                    <img draggable="false" class="w-100 shadow-1-strong gallery-image"
                         src="data:image/png;base64,@Convert.ToBase64String(Model.Previews[i].Content)"/>
                    @if (Model.Previews[i].BlobType.Contains("image") == false)
                    {
                        <div class="filename-container">
                            <div class="filename">
                                @Model.Previews[i].BlobName
                            </div>
                        </div>
                    }
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="gallery-item-container col-sm">
            <a draggable="false" href="/Gallery/Detail?id=@(Model.Previews[i].Id)">
                <div class="shadow-1-strong gallery-item">
                    <img draggable="false" class="w-100 shadow-1-strong gallery-image"
                         src="data:image/png;base64,@Convert.ToBase64String(Model.Previews[i].Content)"/>
                    @if (Model.Previews[i].BlobType.Contains("image") == false)
                    {
                        <div class="filename-container">
                            <div class="filename">
                                @Model.Previews[i].BlobName
                            </div>
                        </div>
                    }
                </div>
            </a>
        </div>
    }
}