@using MediaCloud.Data.Types
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MediaCloud.WebApp._TagsModel



<div class="col-sm pt-3">
    <ul class="list-group">
        <li class="list-group-item h-100">
            Tags:
            @foreach (var tag in Model.Tags)
            {
                var classStyle = "btn-info";
                switch (tag.Color) 
                {
                    case TagColor.Orange:
                        classStyle = "btn-warning";
                        break;
                    case TagColor.Green:
                        classStyle = "btn-success";
                        break;
                    case TagColor.Red:
                        classStyle = "btn-danger";
                        break;
                    case TagColor.Purple:
                        classStyle = "btn-purple";
                        break;
                    case TagColor.Aquamarine:
                        classStyle = "btn-aquamarine";
                        break;
                    case TagColor.Black:
                        classStyle = "btn-black";
                        break;
                    case TagColor.White:
                        classStyle = "btn-white";
                        break;
                    case TagColor.Pink:
                        classStyle = "btn-pink";
                        break;
                }
                <a class="btn @classStyle btn-rounded mb-1" 
                   asp-page="/Tags/Detail" 
                   asp-route-id=@tag.Id>
                    @tag.Name
                </a>
            }
        </li>
    </ul>
</div>