@page
@model MediaCloud.Pages.Gallery.UploadModel

@{
    ViewData["Title"] = "Upload";
}

<div class="page-container">
    
    <h1>Upload</h1>

    <div class="button-panel">
        <div class="button-group">
           <a onclick="history.back();" class="btn btn-info">
				Back
			</a>
        </div>
	</div>

    <hr class="text-white"/>

    <div class="row text-white">
        <div class="col-md-4">
            <form enctype="multipart/form-data" id='uploadForm' method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                <label class="col-form-label">
                    Select File
                </label>
                <input asp-for="Files" class="form-control" />
                <span asp-validation-for="Files" class="text-danger"></span>
                </div>
                <div class="form-group autocomplete-list autocomplete mb-3" style="width:100%">
                    <label class="col-form-label">
                        Enter tags with spaces between
                    </label>
                    <textarea asp-for="@Model.Tags" class="form-control" id="filterGrab"></textarea>
                </div>
                <div class="form-group mb-3 form-check">
                    <input class="form-check-input" type="checkbox" asp-for=IsCollection>
                    <label class="form-check-label" asp-for=IsCollection>
                        It's a collection
                    </label>
                </div>
                <div class="form-group mb-3 form-check">
                    <input class="form-check-input" type="checkbox" asp-for=IsNeedAutotagging>
                    <label class="form-check-label" asp-for=IsNeedAutotagging>
                        Autotag images
                    </label>
                </div>
                <div class="form-group mb-3 form-check">
                    <input class="form-check-input" type="checkbox" asp-for=IsKeepOriginalFormat>
                    <label class="form-check-label" asp-for=IsKeepOriginalFormat>
                        Don't compress images.
                    </label>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Upload" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div class="modal text-black" id="loadingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">
                    File(-s) uploading...
                </h5>
                <div class="spinner-border text-primary" role="status" id="loadingSpinner" style="display: block">
                </div>
            </div>
            <div class="modal-body" id="modalBody">
                <div class="mb-1">
                    <label class="col-form-label" id="orderPos">
                        Your position in order: updating...
                    </label>
                </div>
                <div class="mb-1">
                    <label class="col-form-label" id="blobsCount">
                        Files count: updating...
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <a onclick="history.back();" class="btn btn-primary">
                    Back to Gallery
                </a>
            </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/tagAutocompletion.js"></script>
<script src="~/Pages/Gallery/Upload.cshtml.js"></script>

<script>
    autocomplete(document.getElementById("filterGrab"));
</script>
