@page
@model MediaCloud.Pages.Tags.CreateModel
@using MediaCloud.Data.Types

@{
    ViewData["Title"] = "Tag create";
}

<h1 class="pt-3 text-white">Tag create</h1>

<div>
    <a class="btn btn-info mt-3" asp-page="Index">Back to Tags</a>
</div>

<hr />

<div class="row">
    <div class="col-md-4 text-white">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label class="col-form-label">Enter tag name</label>
                <input asp-for="@Model.Tag.Name" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label class="col-form-label">Enter tag description</label>
                <textarea asp-for="@Model.Tag.Description" class="form-control"></textarea>
            </div>
            <div class="form-group mb-3">
                <label class="col-form-label">Choose tag type</label>
                <select asp-for="@Model.Tag.Type" asp-items="Html.GetEnumSelectList<TagType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
