@page
@model MediaCloud.Pages.Tags.DetailModel
@using MediaCloud.Data.Types

@{
    ViewData["Title"] = "Tag details";
}

<div class="page-container">

    <h1>
        Tag details
    </h1>

    <div class="button-panel">
        <div class="button-group">
           <a onclick="history.back();" class="btn btn-info">
               ⮨ Back
			</a>
        </div>
	</div>

    <hr />
    <div class="row">
        <div class="col-lg-4 text-white">
            <form enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <input type="hidden" asp-for=@(Model.Tag.Id) class="form-control">
                <input type="hidden" asp-for=@(Model.Tag.Creator) class="form-control">
                <input type="hidden" asp-for=@(Model.Tag.CreatorId) class="form-control">
                <input type="hidden" asp-for=@(Model.Tag.PreviewsCount) class="form-control">
                <div class="form-group mb-3">
                    <label class="col-form-label">
                        Enter tag name
                    </label>
                    <input asp-for="@Model.Tag.Name" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label class="col-form-label">
                        Enter tag description
                    </label>
                    <textarea asp-for="@Model.Tag.Description" class="form-control">
                    </textarea>
                </div>
                <div class="form-group mb-3">
                    <label class="col-form-label">Choose tag color</label>
                    <select asp-for="@Model.Tag.Color" asp-items="Html.GetEnumSelectList<TagColor>()">
                        <option selected="selected" value="">
                            Please select
                        </option>
                    </select>
                </div>
                <div class="row">
                    <div class="form-group autocomplete-list autocomplete mb-3 col">
                        <label class="col-form-label">
                            Enter AI aliases ✨
                        </label>
                        <textarea asp-for="@Model.Tag.Alias" class="form-control" id="filterGrab">        
                        </textarea>
                    </div>
                </div>
                <div class="form-group button-panel">
                    <div class="button-group">
                        <input type="submit" value="💾 Save" class="btn btn-success" />
                    </div>
                    <div class="button-group">
                        <a href="/Gallery/Index?filter=@Model.Tag.Name" class="btn btn-info text-nowrap">
                            🔎 Find related
                        </a>
                        <button class="btn btn-danger btn-rounded" 
                            asp-page-handler="Delete" 
                            asp-route-id=@(Model.Tag.Id)>
                            🗑️ Remove
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/tagAutocompletion.js"></script>

<script>
    autocomplete(document.getElementById("filterGrab"), true);
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
